.sw-banner{
	background: url( '../img/sw-bg-img.jpg' );
	background-position: center;
	position: relative;
	height: 672px;
	width: 100%; 
	@include animation( bg-move 10s linear infinite );
	@at-root{
		@include keyframes(bg-move){
			0%, 100%{
				background-size: 100% 100%;
			}
			50%{
				background-size: 110% 110%;
			}
		}
	}
	@include media( sm ){
		@include general( animation-play-state, paused );
	}

	.site-logo{
		position: absolute;
	    left: 25px;
    	top: 30px;
	}
	.caption{
		@extend %center;
		top: 40%;

		h1{
			margin-top: 20px;
			font-size: 45px;
			color: $color_white;
			font-family: $font_title;
			text-transform: capitalize;

			@include media( sm ){
				font-size: 35px;
			}

			@include media( xs ){
				font-size: 22px;
			}
		}
	}
}
