   
// BASIC COLOR 
$color_primary        : #e34f99 !default;
$color_black          : #000 !default;
$color_white          : #fff !default;
$color_text           : #8e8e8e;
$color_body           : #f6f6f6;

// FONTS 
$font_primary   : 'Ubuntu';
$font_title     : 'Pacifico';

// FONT WEIGHT 
$font_weight_light  : 300;
$font_weight_normal : 400;
$font_weight_bold   : 600;



