
$icon_size 	 	: 35px;
$facebook 		: facebook #385699;
$twitter  		: twitter #22CBFF; 
$social_links	: ( $facebook , $twitter );

.sw-site-footer{
	background-color: $color_primary;
	padding: 12px 0;
	color: $color_white;

	.copy-right{
		line-height: $icon_size;
		font-size: 14px;
		font-style: italic;
	}
	.social-links{
		text-align: right;

		a{
			display: inline-block;
			width: $icon_size;
			height: $icon_size;
			line-height: $icon_size;
			color: $color_white;
			text-align: center;
			margin: 0 3px;
			border: 1px solid $color_white;
			@include border-radius ( 50% );

			&:hover{
				@each  $social in $social_links {
					&.#{ nth( $social, 1 ) }{
						background-color: nth( $social, 2 );
						border: 1px solid transparent;
						@include transition( all 0.3s linear );
					}
				}
			}

		}
	}

	@include media( sm ){
		text-align: center;

		.social-links{
			text-align: center;
			margin-top: 5px;
		}
	}
}